body {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: grid;
}

#main-container {
  align-items: center;
  justify-content: center;
}

#sign-in-form {
  max-width: 330px;
}

.form-control:focus {
  z-index: 5;
}

.bootstrap-logo {
  width: 75px;
  height: 75px;
}